.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
    background-color: #0097a7;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    margin: 10px;
  }
  
  .main {
    position: absolute;
    top: 8px;
    bottom: 8px;
  }
  
  .blockly-panel {
    left: 8px;
    right: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,.37);
  }

  .width-100{
    height: 100%;
    width: 100%;
  }