.input{
    Height: calc(100% - 30px);
    width: 50% ;
    left: 8px;
}

.output{
    Height: calc(100% - 30px);
    width: 50% ;
    background-color: darkgrey;
    right: 8px;
    margin-top: 8px;
}

.textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}