.input{
    Height: calc(100% - 30px);
    width: 48% ;
}

.output{
    Height: calc(100% - 30px);
    width: 48% ;
    background-color: darkgrey;
}

.textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}